
Server/
Server_1_14_4/
target/
*.log
.idea/
.DS_Store
ChestsPlusPlus.iml
*.iml
POEditorImport/src/main/java/com/jamesdpeters/poeditor/POEapi.java
BuildTools/apache-maven-3.6.0/
BuildTools/BuildData
BuildTools/BuildTools.jar
BuildTools/BuildTools.log.txt
BuildTools/Bukkit/
BuildTools/CraftBukkit/
BuildTools/Spigot/
BuildTools/work/
BuildTools/spigot-1.19.1.jar
BuildTools/spigot-1.18.1.jar
BuildTools/spigot-1.19.2.jar
